.popup{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    margin-left: 20px;
    z-index: 10;
    background: transparent;
    border-radius: 6px;
    max-width: 300px
}