.pop-up-default {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    pointer-events: auto;
    z-index: 10;
    font-family: Montserrat, sans-serif;
    line-height: 2;
    font-size: 18px;
}

.stop-horizontal-row-style {
    border: none;
    width: 95%;
    border-top: 4px solid #FF5733;
    margin: 0 10px 10px 0;
}